# Editor / IDE
.vscode/
.idea/

# Python
__pycache__/
*.pytest_cache/
*.pyc

venv/
.venv/
.env/

# env
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# Mac OS
.DS_Store


# Random
sandbox.py
